version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: astor_database_test
    ports:
      - "5434:5432"  # локальный порт 5434 → контейнерный 5432
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7.2
    container_name: astor_redis_test
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data
    environment:
        - REDIS_PASSWORD=${REDIS_PASSWORD}
    entrypoint: >
        sh -c "exec redis-server --requirepass $$REDIS_PASSWORD"

  # app:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #   container_name: astor-butler-app
  #   ports:
  #     - "8080:8080"
  #   env_file:
  #     - .env
  #   depends_on:
  #     - postgres

volumes:
  pgdata:
  redisdata: