astor:
  media:
    menu-dir: ${ASTOR_MEDIA_MENU_DIR:/opt/astor-butler/media/menu/}

spring:
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD}

  datasource:
    url: ${POSTGRES_URL}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: ${SPRING_LIQUIBASE_CHANGE_LOG}
    enabled: true

telegram:
  bot:
    token: ${TELEGRAM_BOT_TOKEN}
    username: ${TELEGRAM_BOT_USERNAME}
  oauth:
    client-id: ${TELEGRAM_CLIENT_ID}
    redirect-uri: ${TELEGRAM_REDIRECT_URI}

deepseek:
  api-key: ${DEEPSEEK_API_KEY}